* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #edf1f4;
}

.calculator{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -15px -15px 20px #fffb;
}

.buttons{
    position: relative;
    display: grid;
}

#value{
    position: relative;
    grid-column: span 4;
    width: 100%;
    text-align: end;
    color: #5166d5;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 20px #fff;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 12px;
    height: 100px;
    line-height: 100px;
    user-select: none;
    overflow: hidden;
}

.dark  #value{
    background: #33393e;
    color: #eee;
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.5), inset -15px -15px 20px rgba(0,0,0,0.1);
}

span{
    position: relative;
    padding: 10px;
    box-shadow:  5px 5px 10px rgba(0,0,0,0.1), -5px -5px 20px #fff;
    margin: 10px;
    color: #666;
    font-size: 1.2em;
    display: flex;
    user-select: none;
    align-items: center;
    cursor: pointer;
    min-width: 40px;
    justify-content: center;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgba(0,0,0,0.1), -5px -5px 20px #fff;
}

.dark span{
    color: #eee;
    border-radius: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25), -5px -5px 10px rgba(255,255,255,0.1);
}

span:active{
    box-shadow:  5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 20px #fff;
    color: red;
}

.dark .calculator .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.25), inset -5px -5px 10px rgba(255,255,255,0.1);
}
#clear {
    grid-column: span 2;
    background: red;
    border: 2px solid #edf1f4;
    color: white;
}

#plus {
    grid-row: span 2;
    background: green;
    color: white;
    border: 2px solid white;
}

#equal {
    background: #2196f3;
    color: white;
    border: 2px solid white;
}

#clear:active{
    box-shadow:  5px 5px 10px rgba(0,0,0,0.1), -5px -5px 20px #fff, inset 5px 5px 10px rgba(0,0,0,0.1);
}

#equal:active{
    box-shadow:  5px 5px 10px rgba(0,0,0,0.1), -5px -5px 20px #fff, inset 5px 5px 10px rgba(0,0,0,0.1);
}

#plus:active{
    box-shadow:  5px 5px 10px rgba(0,0,0,0.1), -5px -5px 20px #fff, inset 5px 5px 10px rgba(0,0,0,0.1);
}

.dark span#clear,
.dark span#equal,
.dark span#plus{
    border: 2px solid #333;
}

.dark span#clear:active,
.dark span#equal:active,
.dark span#plus:active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1);
}
.toggleBtn{
    height: 20px;
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 20px;
    background-color: #555;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff ;
}

.dark .toggleBtn{
    background: #edf1f4;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25), -5px -5px 10px rgba(255,255,255,0.25);
}

.dark{
    background: black;
}

.dark .calculator{
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.25), -15px -15px 20px rgba(0,0,0,0.1);
}